*{
    color: white;
}
input {
    color: black;
}
ol {
    padding-inline-start: 17px;
}
select{
    background-color: black;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 10fr / 2fr 8fr;
    background-color: black;
}

#modalShadow {
    display: none;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    /* display: flex; */
    flex-direction: column;
    align-content: center;
    align-items: center;
}
#modal {
    background-color: rgb(39, 46, 46);
    padding: 20px;
    min-height: 200px;
    width: 50vw;
    margin: 10vh 20vw 0 25vw;
    border-radius: 30px;
    display: none;
    /* display: flex; */
    position: fixed;
    z-index: 2; /* Sit on top */
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.pform {
    flex-direction: column;
    border-radius: 30px;
    gap: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #373a39;
    padding: 30px;
    border-radius: 29px;
    gap: 20px;
}
.dropsCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#formListItems {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 390px;
}
.formItem {
    margin: 0 0 5px 0;
}
#lFormProjName {
    display: none;
}
.addRmCont {
    display: flex;
    align-items: center;
}
#rmItems {
    font-size: 11px;
    font-weight: bold;
}
.addRmLabel {
    margin: 0 20px 0 20px;
}
.addRmItems {
    width: 29px;
    height: 29px;;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
}
.addRmItems:hover {
    padding: 4px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.fsubmit {
    border: none;
    background-color: white;
    color: black;
    min-height: 30px;
    width: 22%;
    margin: 0 39% 0 39%;
}
.fsubmit:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
}


#top {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    background-color: rgb(18, 19, 19);
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
#icon-cont {
    width: 30px;
}
.icon {
    max-width: 30px;
    max-height: 30px;
}
.icon:hover{
    cursor: pointer;
    background-color: rgb(43, 46, 46);
    box-shadow: 0 0 10px 7px  rgb(43, 46, 46);
}
#addButtons{
    display: none;
    /* display: flex; */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    flex-direction: column;
    top: 70px;
    right: 10px;
    width: 70px;
    height: 60px;
}
.dispFormButton{
    height: 30px;
    border: none;
    background-color: rgb(32, 34, 34);
}
.dispFormButton:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(199, 208, 208);
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 30, 30);
    padding-left: 10px;
    justify-content: flex-start;
}
.sideProjects:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(199, 208, 208);
}
.sideLists:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(174, 201, 201);
}

#content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: repeat(auto-fit, minmax(250px, 1fr))/ repeat(auto-fit, minmax(200px, 1fr));
    justify-content: start;
    align-items: start;
    padding: 4vh 3vw;
    gap: 20px;
}
.tile {
    /* display: grid; */
    display: none;
    grid-template: 35px 1fr / 1fr 10fr;
    background-color: rgb(28, 30, 30);
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: auto;
    border-radius: 20px;
    padding: 20px;
}
.listTitle,
.deadline {
    margin: 0 0 5px 0;
}
input.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.tileTop {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template: repeat(auto-fit, minmax(20px, 1fr)) / 1fr;
    justify-content: space-between;
    align-items: flex-start;
}
#edit {
    background-color: rgb(28, 30, 30);
    font-size: 16px;
    border: none;
}
.checkContainer {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template: repeat(auto-fit, minmax(20px, 1fr)) / 1fr;
    justify-content: start;
    align-items: center;
    padding-inline-start: 0px;
    gap: 10px;

}
.lvcheckItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}
.listItems {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: space-between;
}
.listItem{
    margin: 0px;
}

.PVTile {
    background-color: rgb(28, 30, 30);
    min-width: 100px;
    min-height: 100px;
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.error{
    display: none;
    color: #ff9797;;
}